doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/nouislider/distribute/nouislider.min.css')
    script(src="/jquery/dist/jquery.min.js")





  body
    nav.navbar.navbar-default.navbar-fixed-bottom
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand QUICK RIDE
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a Link1
            li
              a#lowerBound
            li
              a
                div#range.noUi-target.noUi-ltr.noUi-horizontal.noUi-background
            li
              a#upperBound
          //form.navbar-form.navbar-left
          //  div#range.noUi-target.noUi-ltr.noUi-horizontal.noUi-background



    script(src='/nouislider/distribute/nouislider.min.js')




    block content




    include footer.jade
