

body {
  padding-bottom: 50px; /* for nav */
}
html, body {
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
.container-map {
  width: 100%;
  height:100%;
}


#range {

  width: 300px;

}

  @media (max-width: 768px) and (min-width: 667px) {
    #range {
      width: 650px;
    }
  }


#aboutbody {
  padding-bottom: 50px;
}



@media(max-width:992px){
  .nav>li>a {
    padding-left: 10px;
    padding-right:10px
  }
}
